header {
    width: 100%;
    background-color: #011330;
    color: White;
    padding: 20px;
    text-align: center;
  }

  header > div{
    border: 2px solid orange;
    color: #011330;
    width: 200px;
    background-color: White;
    margin: auto;
  }

  body{
    margin: 0;
    overflow-x: hidden;
  }

  #category{
      width: 150px;
      height: 40px;
  }

  .menu-mid-text{
    color: #011330;
  }

  #sub-text-input{
    border: 2px;
    border-style: solid;
    border-color: black;
    width: 150px;
    height: 40px;
  }
  .sub-button {
    margin-left: -5px;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    width: 150px;
    height: 46px;
  }

    .flex-container-menu {
      flex-wrap: wrap;
      margin-left: 50px;
      margin-right: 50px;
      display: flex;
      justify-content: space-between;
    }

    .flex-container-menu > div {
      margin: 10px;
      text-align: left;
      line-height: 25px;
    }
    .menu-mid-text{
      text-align: center;
      margin-top: 80px;
      margin-left: 160px;
    }


        .flex-container-news {
          flex-wrap: wrap;
          display: flex;
          flex-direction: column;
        }

        .flex-container-news > div {
          text-align: left;
          line-height: 25px;
        }

        .frame {
        width: 200px;
        height: 200px;
        margin: auto;
        padding: 15px 25px;
        }

        img {
        width: 100%;
        height: 100%;
        }
